<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <!--    <link href = "css/styles.css" rel = "stylesheet"/>-->
    <title>Generate Excel</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form action="#" th:action="@{/excel/download}" th:object="${sqlStatement}" method="post">
        <p>SQL Request: <input type="text" th:width="500" th:field="*{sql}" th:size="500"/></p>
        <p><input type="submit" value="Generate Excel"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
